node_modules
dist
.DS_Store
server/public
vite.config.ts.*
# Google Cloud Service Account files
*.json
!package.json
!package-lock.json
!tsconfig.json
!components.json
*.tar.gz
# Ignore large binaries we do not need in Git
attached_assets/*.pdf
attached_assets/*.png
*.mov
